html{
    font-size: 1.5vmin;
}
.container {
    height: 66vh;
    width: 25vw;
    border: .5vmin solid black;
    display: inline-block;
    padding: 0;
    margin: auto;
}

#displayArea{
    width: 100%;
    height: 30%;
    background-color: yellow;
}

#buttonArea{
    width: 100%;
    height:70%;
    background-color: green;
}

.row{
    height:20%;
    width:100%;
    margin: 0;
}

.operator,
.number,
.dot,
.deleteEverything,
.delete{
    width:25%;
    height:100%;
}

.equal{
    height:200%;
}

.row > button{
    vertical-align: top;
}
.row{
    font-size: 0;
}
button{
    font-size: 2rem;
    width: 25%;
}

#row4{
    margin-right: 0;
}






